{% extends "usep_templates/base.html" %}

{% load vocab %}

{% block head_title %}US Epigraphy — publication: {{ publication_title }}{% endblock head_title %}

{% block head_media_href %}href="{{ STATIC_URL }}usep/css/style.css"{% endblock head_media_href %}

{% block header %}
  <a href="../../collections/"><img src="{{ STATIC_URL }}usep/css/gfx/header_brickstamp.png" height="156" width="159" alt="U.S. Epigraphy Project" title="U.S. Epigraphy Project home page"/></a>
  <div id="headerlinks">
    <a href="/search/usep/results"><img src="{{ STATIC_URL }}usep/css/gfx/button_search.png" /></a>
    <!-- <a href="../../../../search/usep/results"><img src="{{ STATIC_URL }}usep/css/gfx/button_search.png" height="25" width="160" /></a> -->
    <a href="../../collections/"><img src="{{ STATIC_URL }}usep/css/gfx/button_collections.png" height="25" width="160" /></a>
    <a href="../../publications/"><img src="{{ STATIC_URL }}usep/css/gfx/button_publications.png" height="25" width="160" /></a> <br />
    <a href="../../texts/">Texts</a> |
    <a href="../../links/">Epigraphy links</a> |
    <a href="../../about/">About</a> |
    <a href="../../contact/">Contact</a>
  </div>
{% endblock header %}

{% block page_title %}Inscriptions published in: <br />{{ publication_title }}{% endblock page_title %}

{% block content %}
  <div id="main">
    <div id="Ncontainer">
      <p>( count: {{ inscription_count }} )</p>
      <div class="collection">
        {% for member in inscriptions %}
        <div class="item right-caption">
             <h3><a href="{{ member.url }}">{{ member.id }} </a></h3>
            {% if member.image_url %}
            <img class="thumb" src="{{ member.image_url }}" alt="inscription_thumbnail" width="80" height="80"></img>
            {% else %}
            <img class="thumb" src="{{ STATIC_URL }}usep/images/NoImageAvailable.jpg" alt="inscription_thumbnail" width="80" height="80"></img>
            {% endif %}
            <hr>
        <div class="caption">
              <p>
            <span class="status">({{ member.status }})</span>
          
            {% if member.text_genre_desc %}
            <br/><span class="desc">{{member.text_genre_desc.0}}</span>
            {% endif %}
            {% if show_dates %}
            <br/><span class="date">(Between {{member.notBefore|era}} and {{member.notAfter|era}})</span>
                </p>
            {% endif %}
        </div>
       </div>
        {% endfor %}
      </ul>
    </div>

  </div>
{% endblock content %}
