{% extends "usep_templates/base.html" %}

{% block head_title %}Collections of Greek and Latin Inscriptions in the USA{% endblock head_title %}

{% block page_title %}Collections of Greek and Latin Inscriptions in the USA{% endblock page_title %}

{% block list_of_states %}
  <div id="listofstates">
    {% for code in region_codes %}
      <span><a href="#{{ code|lower }}">{{ code }}</a></span>{% if not forloop.last %} | {% endif %}
    {% endfor %}
  </div>
{% endblock list_of_states %}

{% block content %}

  <div id="map">
    <p>
      <iframe width="600" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://batchgeo.com/map/15a95237b77fadbd7161115646e676e0" frameborder="0" width="100%" height="550" style="border:3px solid #999;border-radius:5px;"></iframe>
    </p>
    <p>
      <small>View <a href="http://batchgeo.com/map/15a95237b77fadbd7161115646e676e0">US Epigraphy Collections</a> in a full screen map</small>
    </p>
  </div>

  <div class="region">

    {% regroup all_collections_dictionaries by region_name as region_list %}  {% comment %} note: no 'end_regroup' {% endcomment %}

    {% for region_name in region_list %}

      {% comment %} ## Region-name with anchor ## {% endcomment %}
      {% for item in region_name.list %}
        {% if forloop.first %}
          <a name="{{ item.region_code|lower }}">
        {% endif %}
      {% endfor %}
            <h2>{{ region_name.grouper }}</h2>
          </a>

      {% comment %} ## Collections ## {% endcomment %}
      {% for item in region_name.list %}
        <p class="description">
          <a href="../collections/{{ item.collection_code }}/">{{ item.collection_code }}</a>
          <a class="js-link" href="#">[More...]</a>
          <br/>
          <a target="_blank" href="{{ item.collection_url }}">{{ item.collection_name }}<br/>{{ item.collection_address }}</a>
          <div class="js-info">
            <p>{{ item.collection_description|safe }}</p>
          </div>
        </p>
      {% endfor %}
    {% endfor %}

    <!-- end region output -->

  </div> <!-- end div class="region" -->
  <div id="admin" style="position: absolute; right: 10px;"><a href="{{ login_url }}">admin</div>
{% endblock content %}

{% block page_js %}
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.3.min.js"></script>
  <script type="text/javascript">
    function showInfo () {
      var el = $(this);
      el.parent().next('.js-info').toggle('fast', 'swing');
      return false;
    }

    $(document).ready(function() {
      if (window.location.hash !== '#showall') {
        $('.js-info').hide();
      }
      $('.js-link').click(showInfo);

      $('#showall').click(function(event) {
        $('.js-info').show();
      });
    });
  </script>
{% endblock page_js %}
