{% extends "usep_templates/base.html" %}

{% block head_title %}US Epigraphy — Inscription — {{ id }}{% endblock head_title %}

{% block page_title %}Inscription: {{ id }}{% endblock page_title %}

{% block content %}
  <div id="main">

    <div id="container">

      <p>( page under construction )</p>

      <ul id="inscription">
        <h3>Inscription</h3>
        {% if image_url %}<li><span class="label">Image:</span> <span class="value"><a href="{{ image_url }}"><img src="{{ image_url }}" /></a></span></li>{% endif %}
        <li><span class="label">XML:</span> <span class="value"><a href="{{ xml_url }}">link</a></span></li>
      </ul>

      <br/>
      <ul id="attributes">
        <h3>Attributes</h3>
        {% if condition %}<li><span class="label">Condition:</span> <span class="value">{{ condition }}</span></li>{% endif %}
        {% if decoration %}<li><span class="label">Decoration:</span> <span class="value">{{ decoration }}</span></li>{% endif %}
        {% if inscription_type %}<li><span class="label">Inscription Type{{ inscription_type|pluralize }}:</span> <span class="value">{{ inscription_type|join:", " }}</span></li>{% endif %}
        {% if language %}<li><span class="label">Language:</span> <span class="value">{{ language }}</span></li>{% endif %}
        {% if material %}<li><span class="label">Material:</span> <span class="value">{{ material }}</span></li>{% endif %}
        {% if object_type %}<li><span class="label">Object Type{{ object_type|pluralize }}:</span> <span class="value">{{ object_type|join:", " }}</span></li>{% endif %}
        {% if writing %}<li><span class="label">Writing:</span> <span class="value">{{ writing }}</span></li>{% endif %}
      </ul>

      <br/>
      <ul id="bibliography">
        <h3>Bibliography</h3>
        <li><span class="label">Titles:</span>
          <div class="value">
            <ul>
              {% for title in bib_titles %}
              <li>
                <a href="{% url publication_url title %}">{{ title }}</a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </li>
        {% if bib_authors %}
        <li><span class="label">Authors:</span>
          <div class="value">
            <ul>
              {% for author in bib_authors %}
              <li>
                {{ author }}
              </li>
              {% endfor %}
            </ul>
          </div>
        </li>
        {% endif %}
      </ul>

      <br/>
      <ul id="repository info">
        <h3>Repository info</h3>
        <li><span class="label">Region:</span> <span class="value">{{ msid_region }}</span></li>
        {% if msid_settlement %}<li><span class="label">Settlement:</span> <span class="value">{{ msid_settlement }}</span></li>{% endif %}
        <li><span class="label">Institution:</span> <span class="value">{{ msid_institution }}</span></li>
        {% if msid_repository %}<li><span class="label">Repository:</span> <span class="value">{{ msid_repository }}</span></li>{% endif %}
        <li><span class="label">Repository ID:</span> <span class="value">{{ msid_idno }}</span></li>
      </ul>

    </div>

    <hr/>

  </div>
{% endblock content %}
