{% extends "usep_templates/base.html" %}

<!-- {% block head_title %}US Epigraphy — Inscription — {{ inscription_id }}{% endblock head_title %} -->

{% block in_page_css %}
<style type="text/css">
    .metadata {
        float: left;
        width: 300px;
    }
    .bibl {
        float: left;
        width: 900px;
    }
    .bibl p {
        float: left;
        width: 275px;
    }
    .facsimile {
        position:absolute;
        left: 662px;
        top: 448px;
        /*top: 1048px;*/
    }
    div p a {
        float: left;
    }
</style>
<!-- these are all from the scrollables website -->
<!-- <link rel="stylesheet" type="text/css" href="http://static.flowplayer.org/tools/css/scrollable-horizontal.css" /> -->
<!-- <link rel="stylesheet" type="text/css" href="http://static.flowplayer.org/tools/css/scrollable-buttons.css" /> -->
{% endblock in_page_css %}

{% block page_title %}Inscription: {{ inscription_id }}{% endblock page_title %}

{% block content %}
    <div id="container"></div>
    <div id="images"></div>
{% endblock content %}

{% block page_js %}
<!-- Loading client-side XSL processor -->
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}usep/js/saxonce/Saxonce.nocache.js"></script>

<!-- Loading image viewer -->
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}usep/js/highslide/highslide-with-gallery.packed.js"></script>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}usep/js/highslide/highslide.css" />

<!-- JQuery -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        var windowWidth = $(window).width(); 
        var content = $("#container"); 
        var images = $("#images"); 
        var leftSideOffset = 80; 
        var imageDivWidth = 205; 
        var contentImageSpacer = 30; 

        console.log("window width: " + windowWidth); 

        content.css("left", imageDivWidth + leftSideOffset + contentImageSpacer + "px"); 
        content.css("width", windowWidth - (imageDivWidth + leftSideOffset * 2 + contentImageSpacer) + "px"); 

        images.css("left", leftSideOffset + "px"); 
        images.css("width", imageDivWidth + "px"); 
    }); 

    // Initializing SaxonCE client-side XSL transformation
    // Documentation at http://www.saxonica.com/ce/index.xml
    var onSaxonLoad = function() {
        Saxon.run({
            stylesheet:   "{{ STATIC_URL }}usep/xsl/USEp_display.xsl",
            // source:       "{{ STATIC_URL }}usep/TESTING/MD.Balt.JHU.L.1.xml"
            // source: "http://library.brown.edu/usep/xml/CA.Malibu.JPGM.G.71.AA.121.xml"
            source: "{% url usep_app.views.get_xml inscription_id %}"
        });
    }; 


    // override Highslide settings here
    // instead of editing the highslide.js file
    hs.graphicsDir = '{{ STATIC_URL }}usep/js/highslide/graphics/';
    hs.addSlideshow({
        // slideshowGroup: 'group1',
        interval: 5000,
        repeat: false,
        useControls: true,
        fixedControls: true,
        overlayOptions: {
            opacity: .6,
            position: 'top center',
            hideOnMouseOut: true
        }
    });
    // Optional: a crossfade transition looks good with the slideshow
    hs.transitions = ['expand', 'crossfade'];
</script>

<!-- Code from before, possibly to make thumbnails of images scrollable -->

<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script> possible that we don't need this line -->
<!--
<script src="http://cdn.jquerytools.org/1.2.6/jquery.tools.min.js"></script>
<script src="jquery.ba-hashchange.min.js"></script>
<script src="view.js"></script>
<script>
$(function() {

$(".thumbsRow").scrollable();

$(".items img").click(function() {

    // see if same thumb is being clicked
    if ($(this).hasClass("active")) { return; }

    // calclulate large image's URL based on the thumbnail URL (flickr specific)
    var url = $(this).attr("src").replace("_t", "");

    // get handle to element that wraps the image and make it semi-transparent
    var wrap = $("#image_wrap").fadeTo("medium", 0.5);

    // the large image from www.flickr.com
    var img = new Image();


    // call this function after it's loaded
    img.onload = function() {

        // make wrapper fully visible
        wrap.fadeTo("fast", 1);

        // change the image
        wrap.find("img").attr("src", url);

    };

    // begin loading the image from www.flickr.com
    img.src = url;

    // activate item
    $(".items img").removeClass("active");
    $(this).addClass("active");

// when page loads simulate a "click" on the first image
}).filter(":first").click();
});
</script>
-->
{% endblock page_js %}
