{% extends "usep_templates/base.html" %}
{% load quote_plus_tag %}


{% block head_title %}US Epigraphy — Publications{% endblock head_title %}

{% block page_title %}Publications{% endblock page_title %}

{% block content %}
  <div id="loading" style="background-image: url('{{ custom_static_url }}usep/loading.png');"></div>
  <div id="main" style="display:visible;">

   <!--  <div id="testing">
      <ul id="corpora">
        <h1>Corpora</h1>
        {% for item in corpora_list %}
        <p><a href="{% url publication_url item %}">{{ item }}</a></p> {% comment %} publication_url item renders to: http://domain/projects/usep/publication/the_id/'{% endcomment %}
        {% endfor %}
      </ul>

      <ul id="journals">
        <h1>Journals</h1>
        {% for item in journals_list %}
        <p><a href="{% url publication_url item %}">{{ item }}</a></p>
        {% endfor %}
      </ul>

      <ul id="monographs">
        <h1>Monographs</h1>
        {% for item in monographs_list %}
        <p><a href="{% url publication_url item %}">{{ item }}</a></p>
        {% endfor %}
      </ul>
    </div>
 -->
    
    <div id="container" style="position:relative; left:-20px;"></div>

    <hr/>

  </div>
{% endblock content %}

{% block page_js %}
<!-- Loading client-side XSL processor -->
<script type="text/javascript" language="javascript" src="{{ custom_static_url }}usep/js/saxonce/Saxonce.nocache.js"></script>

<script type="text/javascript" language="javascript" src="{{ custom_static_url }}usep/js/fade.js"></script>

<script type="text/javascript">
  // fade("in", document.getElementById("loading"));
  // Initializing SaxonCE client-side XSL transformation
  // Documentation at http://www.saxonica.com/ce/index.xml

  var onSaxonLoad = function() {
      var processor = Saxon.run({
          stylesheet: "{{ custom_static_url }}usep/xsl/pubs.xsl",
          source:     "{% url usep_app.views.get_xml %}?url_key={{ url_key }}&inscription_id={{ inscription_id }}",
          parameters: { prefix: "{{ url_prefix }}", url: "{% url publication_url " " %}".slice(1,18) }
      });

      processor.setSuccess(fade("out", document.getElementById("loading")));
  }; 

</script>
{% endblock page_js %}