{% extends "usep_templates/base.html" %}

{% load vocab %}

{% block page_title%}Search Inscriptions{% endblock %}
{% block head_title%}Search{% endblock %}

{% block in_page_css%}
<style>
	#pagetitle {
		text-align: left;
		margin-left: 3cm;
		width: initial;
	}

	#content {
		margin-left: 3.5cm;
		font-size: 1.2em;
	}

	#advanced {
		border: none;
		height: 0px;
		transition: height 1s ease, opacity 0.1s;
		overflow: hidden;
		padding: 0;
	}

	#advanced tr {
		height: 1.2in;
	}

	table th {
		padding-right: 1cm;
	}

	table th,table td {
		border-bottom: 1px solid slategray;
	}

	#advanced select[multiple] {
		width: 2.5in;
		height: 1in;
		float: right;
	}

	input[type='text'] {
		width: 50%;
		height: 20px;
	}

	input[type='submit'] {
		display: block;
		height: 1cm;
		width: 2cm;
		text-align: center;
	}

	.reset {
		display: block;
		width: 1in;
		margin: auto;
	}
</style>
<script type="text/javascript">
	function expand(event) {
		event.preventDefault();
		document.getElementById('advanced').style.height="initial";
		document.getElementById("adv_button").onclick = contract;
	}

	function contract(event) {
		event.preventDefault();
		document.getElementById('advanced').style.height='0in';
		document.getElementById("adv_button").onclick = expand;
	}

	function reset() {
		var opts = document.getElementsByTagName('option');
		for (var i = 0; i < opts.length; i++) {
			opts[i].selected = false;
		}
	}
</script>
{% endblock %}

{% block content%}
{% block form%}
<form id="searchform" action="results" method="GET">
	<label for="fulltext">Full Text Search: <input type="text" name="text"></input></label>

	<input type="submit" value="Search"></input>
	<button id="adv_button" type="button" onclick="expand(event);">Advanced Search</button>
	<br>
	<fieldset id="advanced">
	<table>
	<button class="reset" type="button" onclick="reset()">Reset Search</button>
	To search by publication, see <a href="{% url publications_url %}">Publications</a>
 	<tr>
		<th>Transcription Status</th>
		<td>
			<input type="radio" name="status" value="transcription" checked>Show only fully transcribed inscriptions</input><br/>
			<input type="radio" name="status" value="metadata">Show all inscriptions that have metadata</input><br/>
			<input type="radio" name="status" value="bib_only">Show all inscriptions, even ones with only bibliographic information.</input>
		</td>
	</tr>
 	{% for field_val in facets %}
 	<tr>
	<th for="{{field_val.0}}">{{field_val.0|tax}}</th>
	<td>
	<select multiple name="{{field_val.0}}">
		<!-- <option value="NONE">Select...</option> -->
		{% for item in field_val.1 %}
			<option value="{{item.0}}">
				{{item.0|tax}}
			</option>
		{% endfor %}
	</select>
	</td>
	</tr>
	{% endfor %}
	<tr>
		<th>Fake</th>
		<td>
			<input type="radio" name="fake" value="include">Show inscriptions that are forgeries or counterfeit (falsi vel alieni)</input><br/>
			<input type="radio" name="fake" value="hide" checked>Don't show forgeries</input>
		</td>
	</tr>
	</table>
	</fieldset>


	<br/>
</form>
{% endblock %}

{{error}}

{% endblock content %}

